<app-cloud-title>Where taco hunger meets taco creativity</app-cloud-title>

<img src="assets/TacoPhoto.jpg" style="float:right;margin: 20px; border-radius: 20px;" />

<p>We love tacos. All kinds of tacos. And we love being creative with the way we make our tacos.</p>

<p>Some taco joints offer a set, finite menu of tacos to choose from. At Taco Cloud, we want to share
  the joy of taco creativity with you, allowing you to design your own tacos from a palette of fresh
  and delicious ingredients.</p>

<p>All tacos are priced modestly at $4.99 each, no matter how many or what ingredients you choose.</p>

<p>Click <a href="design">here</a> to get started on your taco masterpiece!</p>
